tests/footage/output
batch.sh
*~
*.db
*.orig
*.pyc
*.pyo
*.rej
.installed.cfg
__minitage__*
bin
python_dirtt.egg-info
build
_build
develop-eggs
downloads
eggs
log
parts
tmp
.DS_Store
.hg
src/*.egg-info
dist
pip-log.txt
.Python
lib
include
.mr.developer.cfg
src
._*
